img{
    position: absolute;
}

/*background images*/

#context{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 60;
    left: 0px;
    top: 0px;
    display: none;
}

#recallBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 300;
    display: none;
}

#transparentBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 210;
    display: block;
}

#backUp{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 220;
    display: none;
}

.border{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 200;
    display: none;
}

#archeology{
    top: 0px;
    left: 0px;
    display: none;
}

#desk{
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    display: none;
    z-index: 35;
}

.map{
    left: 0px;
    top: 0px;
    z-index: 95;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.street{
    left: 0px;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

text{
    position: absolute;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    z-index: 10;
    display: none;
}

.arrays{
    z-index: 300;
    position: absolute;
    display: block;
    top: 180px;
    left: 450px;
}

#prologue{
    position: absolute;
    left: 650px;
    top: 450px;
    z-index: 65;
    display: block;
    display: none;
}

#characterIdentity{
    z-index: 90;
    font-weight: bold;
    font-size: xx-large;
    top: 250px;
    right: 500px;
}

#characterEIdentity{
    z-index: 90;
    right: 160px;
    top: 350px;
}

#greenJadeite{
    top: 250px;
    left: 600px;
    z-index: 40;
    width: 15%;
    height: auto;
    display: none;
}

#redJadeite{
    top: 250px;
    left: 600px;
    z-index: 55;
    width: 15%;
    height: auto;
    display: none;
}

#tealJadeite{
    top: 250px;
    left: 600px;
    z-index: 40;
    width: 15%;
    height: auto;
    display: none;
}

#inspecting{
    bottom: 100px;
    left: 450px;
    z-index: 60;
    width: 70%;
    height: auto;
    display: none;
}

#characterA{
    width: 28%;
    height: auto;
    left: 23px;
    bottom: 3px;
    z-index: 205;
    display: none;
}

#characterB{
    width: 45%;
    height: auto;
    left: 405px;
    bottom: 0px;
    display: none;
}

#characterH{
    width: 45%;
    height: -webkit-fill-available;
    left: 350px;
    bottom: 0px;
    object-fit: cover;
    z-index: 120;
    display: none;
}

#characterI{
    width: 43%;
    z-index: 120;
    left: 400px;
    bottom: 0px;
    display: none;
}

#characterK{
    width: 55%;
    left: 400px;
    bottom: 0px;
    z-index: 120;
    display: none;
}

#characterL{
    width: 40%;
    left: 420px;
    bottom: 0px;
    z-index: 120;
    display: none;
}

#characterM{
    width: 50%;
    height: -webkit-fill-available;
    left: 350px;
    bottom: 0px;
    object-fit: cover;
    z-index: 120;
    display: none;
}

.hover-opacity {
    opacity: 50%;
    transition-duration: 1s;
}

.hover-opacity:hover {
    opacity: 100%;
}

#characterC{
    width: 45%;
    height: auto;
    left: 405px;
    bottom: 0px;
    z-index: 30;
    display: none;
}

#textBox{
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: auto;
    z-index: 195;
    display: none;
}

#bambooSlip{
    left: -48px;
    bottom: 40px;
    width: 50%;
    height: auto;
    display: none;
}

#Word{
    width: 75%;
    height: auto;
    left: 160px;
    top: 105px;
    z-index: 25;
    display: none;
}

#introduction{
    height: auto;
    top: 550px;
    left: 213px;
    text-align: center;
}

#characterName{
    color: wheat;
    font-size: 28px;
    left: 470px;
    bottom: 110px;
    z-index: 200;
}

#characterTitle{
    color: wheat;
    font-size: 28px;
    left: 200px;
    bottom: 110px;
    z-index: 200;
}

#backgroundContext{
    color: beige;
    left: 470px;
    bottom: 60px;
    text-align: left;
    z-index: 200;
}

#backgroundInformation{
    color: beige;
    left: 200px;
    bottom: 60px;
    text-align: left;
    z-index: 200;
}

#startGame{
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100px;
    background-color: rgb(95, 81, 43);
    border-color: rgb(245, 240, 213);
    position: absolute;
    display: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    cursor: pointer;
}

#nextScene{
    bottom: 20px;
    right: 50px;
    height: 50px;
    width: 100px;
    background-color: rgb(95, 81, 43);
    border-color: rgb(245, 240, 213);
    border-radius: 100px;
    position: absolute;
    display: none;
    z-index: 20;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#confirmSelection{
    bottom: 250px;
    right: 130px;
    height: 50px;
    width: 100px;
    background-color: rgb(95, 81, 43);
    border-color: rgb(245, 240, 213);
    border-radius: 100px;
    position: absolute;
    display: none;
    z-index: 95;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    cursor: pointer;
}

.choices{
    height: 55px;
    width: 700px;
    background-color: rgb(95, 81, 43);
    border-color: rgb(245, 240, 213);
    position: absolute;
    display: none;
    z-index: 125;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#firstChoice{
    left: 385px;
    top: 330px;
}

#secondChoice{
    left: 385px;
    top: 400px;
}

#selection{
    width: 100%;
    height: 100%;
    z-index: 70;
    left: 0px;
    top: 0px;
    display: none;
}

.destination{
    height: 50px;
    width: 100px;
    background-color: rgb(95, 81, 43);
    border-color: rgb(245, 240, 213);
    border-radius: 100px;
    position: absolute;
    display: none;
    z-index: 105;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.menu{
    height: 50px;
    width: 100px;
    background-color: rgb(95, 81, 43);
    border-color: rgb(245, 240, 213);
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 305;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    cursor: pointer;
}

#backButton{
    display: none;
}

#streetDestination{
    bottom: 180px;
    right: 840px;
}

#templeDestination{
    top: 100px;
    left: 100px;
}

#teaHouseDestination{
    right: 200px;
    top: 200px;
}

#enterTemple{
    left: 669px;
    bottom: 10px;
}